*, *::after, *::before { 
    box-sizing: border-box;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf');
    font-weight: 500;
}
:root  { 
    --primary-color: #00f000;
    --secondary-color: #fffeff;
    --tertiary-color: #000000;
}

html, body {
    margin: 0;
    color: #111111;
    font-family: "Roboto", sans-serif;
}

body {
    background: #FDFDFD;
}
.container { 
    overflow: hidden;
    min-height: 100vh;
}
.header {
    border-radius: 18px;
    box-shadow: 0 7px 20px 0 #0000002E;
    backdrop-filter: blur(10px);
    background: #ffffff;
    left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 14px 18px;
    height: 70px;
    display: flex;
    align-items: center;
    z-index: 6;
}
.header-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.header-logo {
    width: 42px;
    height: 42px;
    border-radius: 10px;
    background: #FFCC00;
    display: grid;
    place-items: center;
    font-weight: bold;
    color: #111;
}

.header-title {
    font-size: 18px;
    font-weight: bold;
    color: #111111;
    text-decoration: none;
}
.header-menu {
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-link {
    font-size: 14px;
    color: #111111;
    text-decoration: none;
}

/*  общие стили для второй страницы приложения*/

.main-field {
    display: flex;
    align-items: center;
    margin-top: 6px;
    gap: 10px;
    border: 1px solid #1111111A;
    background: #FAFAFA;
    border-radius: 10px;
    padding: 10px 12px;
    position: relative;
    box-sizing: border-box;
    height: 50px;
}

.main-field.textarea {
    height: auto;
}

.main-pin {
    width: 28px;
    height: 28px;
    border-radius: 10px;
    background: rgba(17, 17, 17, 0.08);
    display: grid;
    place-items: center;
    flex: 0 0 auto;
    position: relative;
}

.main-pin::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 999px;
    background: orange;
    opacity: .75;
    display: block;
}

.main-field:last-child .main-pin::before {
    background: green;
    opacity: .85;
}

input, textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: #111111;
    font-family: inherit;
}

textarea {
    resize: vertical;
    min-height: 72px;
    padding: 2px 0;
}

input::placeholder, textarea::placeholder {
    color: #7C7C7C;
}

.main-field:focus-within {
    border-color: rgba(0, 0, 0, 0.20);
    box-shadow: 0 0 0 4px rgba(255, 204, 0, 0.35);
    background: rgba(255, 255, 255, 0.75);
}

.button {
    border: 0;
    outline: none;
    height: 44px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    font-family: inherit;
    transition: transform .08s ease, opacity .12s ease;
    background: #ffcc00;
    color: #111111;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #E5BC19;
}

.button:disabled {
    cursor: not-allowed;
    background-color: #FADE6E;
    color: #787878;
    transform: none;
}

.button.button-white {
    background: #ffffff;
    border: 1px solid #111111;
}

.button.button-white:hover {
    background: rgb(241 241 241);
}

/* Блок с опциями доставки */

.main-sizes {
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(3, 1fr);
}

.main-size-card {
    border: 1px solid #E8E8E7;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    transition: transform .08s ease, border-color .12s ease, background .12s ease;
    min-height: 139px;
}

.main-size-card:hover {
    transform: translateY(-1px);
}

.main-size-card.is-active {
    background-color: #F8F2D6;
    border-color: #B7B196;
}

.main-size-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-size-label {
    font-weight: bold;
    font-size: 14px;
    color: #111111;
    line-height: 100%;
}

.main-size-rate {
    font-size: 12px;
    color: #7C7C7C;
    line-height: 100%;
}

.main-size-media {
    margin-top: 8px;
    height: 57px;
}

.main-size-description {
    margin-top: 8px;
    font-size: 12px;
    color: #7C7C7C;
    line-height: 1.2;
}
.calculate-button {
    width: 100%;
}
